$columNum: 12;
$gutterWidth: 30px;
$breakPoing: (
  (
    name: "sm",
    breakPoint: 567px,
    max-width: 540px
  ),
  (
    name: "md",
    breakPoint: 768px,
    max-width: 720px
  ),
  (
    name: "lg",
    breakPoint: 992px,
    max-width: 960px
  ),
  (
    name: "xl",
    breakPoint: 1200px,
    max-width: 1140px
  )
);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gb-grid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: $gutterWidth/2;
  padding-right: $gutterWidth/2;
  &._fluid {
    width: 100% !important;
    padding: 0;
  }
}

._row {
  margin-left: -$gutterWidth/2;
  margin-right: -$gutterWidth/2;
  display: flex;
  flex-wrap: wrap;
}

*[class^="_col"] {
  //   float: left;
  width: 100%;
  padding-left: $gutterWidth/2;
  padding-right: $gutterWidth/2;
}

._col-auto {
  flex: 0 0 auto;
  max-width: none;
  width: auto;
}

@for $i from 1 through $columNum {
  ._col-#{$i} {
    flex: 0 0 #{$i/$columNum * 100%};
    max-width: #{$i/$columNum * 100%};
  }
}
@for $i from 1 through $columNum {
  ._offset-#{$i} {
    margin-left: #{$i/$columNum * 100%};
  }
}

@for $i from 1 through length($breakPoing) {
  $item: nth($breakPoing, $i);
  @media (min-width: map-get($item, breakPoint)) {
    .gb-grid {
      width: map-get($map: $item, $key: max-width);
    }
    @for $i from 1 through $columNum {
      ._col-#{map-get($item,name)}-#{$i} {
        flex: 0 0 #{$i/$columNum * 100%};
        max-width: #{$i/$columNum * 100%};
      }
      ._offset-#{map-get($item,name)}-#{$i} {
        margin-left: #{$i/$columNum * 100%};
      }
    }
  }
}

._left {
  justify-content: flex-start;
}
._center{
    justify-content: center
}
._right {
  justify-content: flex-end;
}
._between {
  justify-content: space-between;
}
._around {
  justify-content: space-around;
}
._top{
    align-items: flex-start;
}
._middle{
    align-items: center;
}
._bottom{
    align-items: flex-start;
}