$height: 40px;
.clientForm {
  .inputItem {
    //height: $height;
    line-height: $height;
    margin-bottom: 40px;

    div:first-child {
      font-size: 15px;
      text-align: right;
      @media (max-width: 500px) {
        text-align: left;
      }
    }

    input {
      font-size: 14px;
      width: 100%;
      height: $height;
      padding: 0 10px;
    }

    button {
      height: $height;
      width: 100px;
      font-size: 14px;
      background-color: #1790FF;
      color: white;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: lighten(#1790FF, 5%);
      }
    }
  }
}