.pageHeader {
  height: 150px;
  line-height: 150px;
}

.clientsList {
  table {
    width: 100%;
    text-align: left;
    border: none;

    tr {
      border: none;
    }

    th {
      color: #2b2b2b;
      background-color: #fafafa;
      padding: 20px 20px;
      font-weight: 500;
      font-size: 15px;
      border-bottom: 1px solid #e8e8e8;
    }

    td {
      color: #595959;
      padding: 20px 20px;
      font-size: 14px;
      border-bottom: 1px solid #e8e8e8;
    }
  }

  .searchBar {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .actionBtn {
    cursor: pointer;
    &:hover{
      color: #1790FF;
    }
  }
}
