$height: 40px;
.searchBar {
  width: 100%;
  height: $height;
  line-height: $height;

  input {
    width: calc(100% - 100px);
    height: $height;
    padding-left: 20px;
    font-size: 14px;
    border: 1px solid #E8E8E8;
  }

  button {
    height: $height;
    width: 100px;
    font-size: 14px;
    background-color: #1790FF;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: lighten(#1790FF, 5%);
    }
  }
}