.nav {
  height: 70px;
  line-height: 70px;
  background-color: #1890ff;
  color: white;


  .logo {
    padding: 0 20px;
    font-weight: bold;
    font-size: 20px;
  }

  .navItems {
    float: right;
    padding: 0 20px;

    a {
      color: white;
      padding: 20px;
      font-weight: 500;
      text-decoration: none;
      transition: .3s all ease-in-out;

      &:hover {
        background: lighten(#1890ff, 5%);
      }
    }
  }
}